{% extends 'templates/layout.html' %}

{% block title %}Bazar{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
  <div id="splash">
    {% include "templates/splashscreen.html" %}
  </div>
  <div class="hide" id="content">
    <div id="navbar">
      <h1 id="app-name"></h1>
    </div>
    <div id="info">
      <img id="app-icon"></img>
      <br>
      <br>
      <button data-text="Install" class="button-hover" id="install-btn">Install</button>
    </div>
    <img id="screenshot" src=""></img>
  </div>
{% endblock %}
