@import 'animate';
@import 'splash';
@import 'buttons';

.hide {
  visibility: hidden;
}

.clickthrough {
  pointer-events: none;
}

h1 h2 h3 {
  font-family: 'Didot', 'Bodoni MT', serif;
}

#content {
  margin: auto;
  width: 500px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
